
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

header {
    background-color: #d3d3d3; 
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #3b5998; 
    padding: 15px;
    width: 20%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#main {
    background-color: #d9e9f5;
    padding: 20px;
    width: 75%;
}

footer {
    background-color: #8bc34a; 
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .container {
        flex-direction: column;
    }

    nav, #main {
        width: 100%;
    }
}

@media (max-width: 767px) {
    header, nav, #main, footer {
        width: 100%;
        margin: 0;
    }
}
